<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!--// 1.3 /ui/issues - на странице отображается таблица, в которой есть столбцы-->
<!--// (книга, читатель, когда взял, когда вернул (если не вернул - пустая ячейка)).-->
<body>
    <table>
        <tr>
            <th>Reader's ID</th>
            <th>Book's ID </th>
            <th>Issued Date Time</th>
            <th>Returned Date Time</th>
        </tr>

        <tr th:each="issue: ${issues}">
            <th th:text="${issue.getReaderId()}"></th>
            <th th:text="${issue.getBookId()}"></th>
            <th th:text="${issue.getIssuedTime()}"></th>
            <th th:text="${issue.getReturnedTime()}"></th>
        </tr>
    </table>
</body>
</html>